body {
  background-color: #fff;
  font-family: Roboto;
  color: #111212;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #e8eaed;
  font-size: 42px;
  line-height: 54px;
  font-weight: 400;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

h3 {
  position: static;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.01px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.8;
  font-family: Inter, sans-serif;
  color: #e8eaed;
  font-size: 18px;
  line-height: 30px;
}

a {
  display: inline-block;
  -webkit-transition: color 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
  transition: color 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
  transition: color 400ms ease, transform 400ms ease, opacity 400ms ease;
  transition: color 400ms ease, transform 400ms ease, opacity 400ms ease, -webkit-transform 400ms ease;
  color: #1991eb;
  text-decoration: none;
}

a:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

a:active {
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

ul {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
}

li {
  margin-bottom: 8px;
  padding-left: 5px;
  font-family: Inter, sans-serif;
  color: #e8eaed;
  font-size: 14px;
  font-weight: 400;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #999;
  line-height: 24px;
  font-weight: 400;
}

blockquote {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 30px;
  border-left: 5px solid rgba(17, 18, 18, 0.06);
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}

._6-col {
  display: inline-block;
  width: 460px;
  margin-right: 20px;
}

._6-col._6-col-last {
  margin-right: 0px;
}

._6-col.guvenlik {
  width: 600px;
}

._3-col {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
}

._3-col._3-col-last {
  margin-right: 0px;
}

.wrap {
  display: block;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.wrap.w50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrap.w50-80-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap.w50-80-start.divider {
  height: 6px;
  padding-top: 0px;
  border: 1px solid #000;
  border-radius: 4px;
}

.wrap.w80-50-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 50px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap.w50-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap.w50-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap.h3c {
  margin-top: 32px;
}

.tagline {
  opacity: 0.6;
  font-family: Inter, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section {
  overflow: hidden;
}

.section.dark {
  padding-bottom: 128px;
  background-color: #202124;
  color: #e8eaed;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px 25px;
  float: none;
  border-radius: 4px;
  background-color: #1991eb;
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, -webkit-transform 400ms ease;
  color: #fff;
  line-height: 24px;
  text-align: center;
}

.btn:hover {
  border-color: #0c6eb8;
  background-color: #1386dd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #fff;
}

.btn:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

.btn.btn-outline-dark {
  display: none;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.2);
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, border 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, border 200ms ease, -webkit-transform 400ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, border 200ms ease;
  transition: color 200ms ease, box-shadow 200ms ease, background-color 200ms ease, transform 400ms ease, border 200ms ease, -webkit-transform 400ms ease;
}

.btn.btn-outline-dark:hover {
  border-color: hsla(0, 0%, 100%, 0.5);
}

.text-14 {
  line-height: 24px;
}

.text-14.text-14-60 {
  opacity: 0.6;
}

.section-dark {
  display: block;
  overflow: hidden;
  min-height: 80vh;
  padding-top: 0px;
  border-top: 6px none #660af4;
  border-radius: 0px;
  background-color: #202124;
  color: #fff;
}

.section-dark.blank {
  display: none;
}

.h1-jumbo {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Inter, sans-serif;
  font-size: 36px;
  line-height: 70px;
  font-weight: 300;
  text-transform: none;
}

.h1-jumbo.gs {
  padding-bottom: 16px;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 60px;
}

.text-16 {
  display: inline-block;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
}

.text-16.text-16-60 {
  opacity: 0.8;
  font-family: Inter, sans-serif;
  color: #e8eaed;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text-16.text-16-60.dark {
  color: #e8eaed;
}

.content6-headline {
  margin-bottom: 45px;
  padding-right: 40px;
}

.content5-headline-wrapper {
  padding-right: 0px;
}

._6-col-last {
  width: 460px;
}

.hero2-dark-alt2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 674px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 11, 25, 0.3)), to(rgba(9, 11, 25, 0.3))), url('../images/guvenlik-sistemleri.jpg');
  background-image: linear-gradient(180deg, rgba(9, 11, 25, 0.3), rgba(9, 11, 25, 0.3)), url('../images/guvenlik-sistemleri.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 100%;
  background-repeat: repeat, no-repeat;
}

.hero2-text-wrap {
  width: auto;
  max-width: 80%;
}

.content5-description {
  margin-top: 18px;
}

.content6-pic {
  width: 100%;
  height: 460px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.content6-pic.content6-image1 {
  height: 320px;
  background-image: url('../images/identification-scanning-system-1-1.jpg');
}

.content6-pic.content6-image3 {
  background-image: url('../images/smoke-fire-detector-smoke-detector-ceiling-1.jpg');
}

.content6-pic.content6-image2 {
  background-image: url('../images/businesswoman-using-key-unlock-her-car-door-1.jpg');
}

.content6-pic.content6-image4 {
  height: 320px;
  background-image: url('../images/bekçi-tur-sistemi.jpg');
}

.content3-headline {
  margin-top: 5px;
  padding-right: 50px;
}

.divider {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #eee;
}

.content9-icon {
  margin-bottom: 0px;
}

.content9-item-wrap {
  padding-right: 20px;
}

.heading {
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 4px;
}

.heading-2 {
  margin-bottom: 32px;
  font-family: Inter, sans-serif;
  color: #e8eaed;
  font-size: 34px;
  line-height: 46px;
}

.heading-2.dark {
  color: #fff;
}

.text-block {
  margin-bottom: 16px;
  padding-bottom: 16px;
  opacity: 0.8;
  font-family: Inter, sans-serif;
  color: #e8eaed;
  font-size: 18px;
  line-height: 30px;
}

.heading-3 {
  margin-top: 32px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}

.text-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-2 {
  display: inline-block;
  -webkit-transition: color 400ms cubic-bezier(.165, .84, .44, 1);
  transition: color 400ms cubic-bezier(.165, .84, .44, 1);
  color: #e8eaed;
  text-decoration: underline;
  cursor: pointer;
}

.link-2:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  color: #fff;
}

.list-item {
  opacity: 0.8;
  font-size: 18px;
  line-height: 30px;
}

.nav-link {
  font-family: Inter, sans-serif;
  letter-spacing: 1px;
}

.nav-link.light {
  color: #e8eaed;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 60px;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.nav-menu {
  position: absolute;
  right: 32px;
  font-family: Inter, sans-serif;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-4 {
  font-family: Inter, sans-serif;
  color: #fff;
}

.intro {
  padding-top: 64px;
  border-top-style: none;
}

.article {
  position: relative;
}

.text-block-2 {
  font-family: Inter, sans-serif;
}

.anchor-link {
  position: relative;
  top: -8px;
  display: inline-block;
  color: #b286f5;
  font-size: 12px;
}

.link-4 {
  opacity: 0.8;
  color: #e8eaed;
  text-decoration: underline;
}

.refs {
  font-size: 14px;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph {
  letter-spacing: 0.02em;
}

.hero-p {
  font-size: 15px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.block-quote {
  border-left-color: #660af4;
  font-family: Merriweather, serif;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  ._6-col {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: left;
  }

  ._6-col._6-col-last {
    width: 100%;
  }

  ._3-col {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .wrap {
    width: 645px;
  }

  .wrap.w50-80-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
  }

  .wrap.w80-50-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrap.w50-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wrap.w50-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }

  .text-14.text-14-60 {
    text-align: left;
  }

  .section-dark {
    padding-right: 0px;
    padding-left: 0px;
  }

  .text-16.text-16-60 {
    width: 100%;
    text-align: left;
  }

  .content3-text-wrap {
    text-align: center;
  }

  .content6-headline {
    margin-bottom: 40px;
    padding-right: 0px;
    text-align: center;
  }

  .content5-headline-wrapper {
    padding-right: 0px;
    text-align: center;
  }

  ._6-col-last {
    width: auto;
  }

  .hero2-dark-alt2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 18, 18, 0.4)), to(rgba(17, 18, 18, 0.4))), url('../images/guvenlik-sistemleri.jpg');
    background-image: linear-gradient(180deg, rgba(17, 18, 18, 0.4), rgba(17, 18, 18, 0.4)), url('../images/guvenlik-sistemleri.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, 587px;
    background-repeat: repeat, no-repeat;
  }

  .hero2-text-wrap {
    width: 100%;
  }

  .content5-description {
    margin-top: -10px;
    margin-bottom: 0px;
    text-align: center;
  }

  .content6-pic.content6-image2 {
    margin-bottom: 0px;
  }

  .content3-headline {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-right: 0px;
    text-align: left;
  }

  .content9-item-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .text-block-2 {
    padding-bottom: 32px;
  }

  .box {
    width: 645px;
  }
}

@media screen and (max-width: 767px) {
  ._6-col {
    margin-right: 0px;
  }

  ._6-col.guvenlik {
    max-width: 100%;
  }

  .wrap {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrap.w50-center {
    margin-left: 0px;
  }

  .h1-jumbo {
    font-size: 44px;
    line-height: 56px;
  }

  .content5-headline-wrapper.guvenlik-sistemleri {
    text-align: left;
  }

  .hero2-dark-alt2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(null), to(null)), url('../images/hero2-woman.jpg');
    background-image: linear-gradient(180deg, null, null), url('../images/hero2-woman.jpg');
    background-position: 0px 0px, 50% 50%;
  }

  .box {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    position: absolute;
    right: 32px;
  }
}

@media screen and (max-width: 479px) {
  .wrap.w50-80-start {
    padding-right: 8px;
    padding-left: 8px;
  }

  .wrap.w80-50-start.guvenlik-aside {
    padding-right: 8px;
    padding-left: 8px;
  }

  .wrap.w50-start {
    padding-right: 8px;
    padding-left: 8px;
  }

  .wrap.w50-center {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 4px;
    padding-left: 4px;
  }

  .wrap.h3c {
    padding-left: 8px;
  }

  .tagline {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
  }

  .btn {
    display: block;
    text-align: center;
  }

  .text-14.text-14-60 {
    text-align: left;
  }

  .h1-jumbo.gs {
    max-width: 100vw;
    font-size: 40px;
    text-align: left;
  }

  .text-16.text-16-60 {
    font-size: 15px;
  }

  .hero2-dark-alt2 {
    height: 800px;
  }

  .hero2-text-wrap {
    max-width: 100%;
    margin-top: 32px;
  }

  .content9-item-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .heading {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .heading-2 {
    font-size: 30px;
  }

  .heading-4 {
    text-align: left;
  }

  .box {
    width: 100%;
    max-width: 940px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .heading-5 {
    text-align: left;
  }

  .heading-6 {
    max-width: 100vw;
  }

  .heading-7 {
    max-width: 100vw;
  }

  .paragraph-2 {
    width: 100%;
  }

  .heading-8 {
    width: 100vw;
  }

  .paragraph-3 {
    width: 100%;
  }

  .hero-p {
    font-size: 13px;
    text-align: center;
  }
}

